@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.notice {
  color: green;
}

.error {
  color: red;
}

.favorite {
  color: red;
}

.nonfavorite {
  color: blue;
}
